#map {
    height: 100%;
}

#mapOptions {
    float: left;
    margin: 0% 5% 0% 5%;
    overflow: scroll;
    width: 25%;
    height: 94.5%;
}

ul {
    margin-left: 0%;
    padding-left: 5%;
}

li {
    cursor: pointer;
}

img {
    padding: 5%;
    margin: auto;
    width: 75%;
}